.formHeader{
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px 8px 0 0;
  padding: 36px 40px;

  .title{
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }
  
  .subtitle{
    margin: 0;
    margin-top: 8px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
  }
}

.inputWrapper{
  padding: 32px 40px;
  .inputTitle{
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
  .inputSubtitle{
    margin: 0;
    margin: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
  }

  input{
    margin-top: 22px;
    padding: 8px 14px;
    border: 1px solid #2F343A;
    border-radius: 4px;

    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #484E53;
  }

  .inputDescr{
    position: relative;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #6C757D;
  }

  .inputDescr::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;

  }
}





