.inputWrapper {
  background: rgba(255, 255, 255, 0.08);
  padding: 32px 40px;
  margin-top: 1px;

  .inputTitle {
    position: relative;
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
  .inputSubtitle {
    margin: 0;
    margin-top: 8px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
  }

  input {
    padding: 6px 14px;
    margin-top: 16px;
    width: 100%;
    background: none;
    border-radius: 8px;
    border: 1px solid #2f343a;
    border-radius: 4px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #fff;
  }

  input:focus {
    color: #fff;
  }

  input::placeholder {
    color: #484e53;
  }
  input:focus,
  textarea:focus {
    background: none;
    outline: none;
    border: 1px solid #2f343a;
    box-shadow: 0 0 0 0.15rem rgb(179 179 179 / 25%);
  }

  .inputDescr {
    position: relative;
    width: 95%;
    padding-left: 8px;
    margin-top: 16px;
    position: relative;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #6c757d;
  }

  .inputDescr p {
    position: relative;
    margin: 0;
    padding-left: 8px;
    margin-top: -10px;
  }

  .inputDescr p::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0.8px;
    left: 0;
    background-color: #6c757d;
  }
}

.submitBtnWrapper {
  position: absolute;
  bottom: -103px;
  width: 100%;
  margin: 0 auto;
}

.required .inputTitle:after {
  content: "*";
  position: absolute;
  color: #e35d6a;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-left: 8px;
}

.fileUploadField {
  color: #6c757d !important;
}

.uploadGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  input[type="file"] {
    margin-top: 0;
    padding: 0 8px;
    display: inline;
    width: 80%;
  }

  input::file-selector-button {
    height: 45px;
    background: #2f343a;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    border-radius: 8px;
  }

  input:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: #424649;
    border-color: #424649;
  }
}

.dNone {
  display: none;
}

.dBlock {
  display: block !important;
}

.trashBtn {
  display: none;
}

.errorText {
  display: none;
}
.errorTextShow {
  display: block;
}

.fileUploadField:valid {
  border-color: #2f343a !important;
  background-image: none !important;
}

.formControl:valid {
  border-color: #2f343a !important;
  background-image: none !important;
}

.invalidFeedback {
  display: block;
  color: #e35d6a;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-top: 8px;
}

.uploadBtn button {
  min-width: 78px;
}

.errorBtn .btn {
  background: #680b0b;
}

.successBtn button {
  position: relative;
}

.successBtn button::after {
  content: url(../../assets/img/done.svg);
  position: absolute;
  right: -25px;
}

.uploadGroupError input {
  border-color: #e35d6a !important;
}
