.inputWrapper {
  background: rgba(255, 255, 255, 0.08);
  padding: 32px 40px;
  margin-top: 1px;

  .inputTitle {
    position: relative;
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
  .inputSubtitle {
    margin: 0;
    margin-top: 8px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
  }

  input,
  textarea {
    padding: 6px 14px;
    margin-top: 16px;
    width: 100%;
    background: none;
    border-radius: 8px;
    border: 1px solid #2f343a;
    border-radius: 4px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #fff;
  }

  textarea:focus,
  input:focus {
    color: #fff;
  }

  input::placeholder {
    color: #484e53;
  }
  input:focus,
  textarea:focus {
    background: none;
    outline: none;
    border: 1px solid #2f343a;
    box-shadow: 0 0 0 0.15rem rgb(179 179 179 / 25%);
  }

  .inputDescr {
    position: relative;
    width: 95%;
    padding-left: 8px;
    margin-top: 16px;
    position: relative;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #6c757d;
  }

  .inputDescr p {
    position: relative;
    margin: 0;
    padding-left: 8px;
    margin-top: -10px;
  }

  .inputDescr p::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0.8px;
    left: 0;
    background-color: #6c757d;
  }
}

.inputWrapperLast {
  border-radius: 0 0 8px 8px;
}

.inputWrapper.required .inputTitle:after {
  content: "*";
  position: absolute;
  color: #e35d6a;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-left: 8px;
}
.dNone {
  display: none;
}

.formControl:valid {
  border-color: #2f343a !important;
  background-image: none !important;
}

.invalidFeedback {
  display: block;
  color: #e35d6a;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-top: 8px;
}
